.med-datetime .picker-wrapper {
  background: hsl(var(--med-color-neutral-2));
  border-radius: 16px 16px 0px 0px;
}
.med-datetime .picker-above-highlight,
.med-datetime .picker-below-highlight {
  background: hsl(var(--med-color-neutral-2), 0.8);
}
.med-datetime .picker-button {
  text-transform: uppercase;
  font-family: "fsemeric";
  color: hsl(var(--med-color-brand-4));
  font-size: 12px;
  line-height: 12px;
  padding: 24px;
}
.med-datetime .picker-toolbar-cancel .picker-button {
  color: hsl(var(--med-color-neutral-9));
  font-weight: 600;
}
.med-datetime .picker-opt {
  color: hsl(var(--med-color-neutral-10));
}
.med-datetime ion-backdrop {
  --ion-backdrop-color: hsl(var(--med-color-neutral-1)) !important;
  --backdrop-opacity: 0.8 !important;
}

.tp-dialog {
  --background: hsl(var(--med-color-neutral-2)) !important;
  --border-radius: 16px !important;
  --height: auto !important;
  --min-height: 50px !important;
  --width: 100% !important;
  --max-width: 640px !important;
}
.tp-dialog ion-backdrop {
  --ion-backdrop-color: hsl(var(--med-color-neutral-1)) !important;
  --backdrop-opacity: 0.8 !important;
}
.tp-dialog .modal-wrapper {
  padding: 24px;
}
.tp-dialog .ion-page {
  left: unset;
  bottom: unset;
  top: unset;
  right: unset;
  position: initial;
  display: block;
  contain: unset;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .tp-dialog {
    --max-width: 640px !important;
  }
}
@media only screen and (max-width: 992px) {
  .tp-dialog {
    --max-width: 440px !important;
  }
}
@media only screen and (max-width: 576px) {
  .tp-dialog {
    --max-width: calc(100% - 48px) !important;
  }
}
@media only screen and (max-width: 340px) {
  .tp-dialog {
    --max-width: calc(100% - 32px) !important;
  }
}
.tp-dialog-header {
  text-align: right;
  margin-bottom: 24px;
}

.tp-dialog-header {
  text-align: right;
  margin-bottom: 24px;
}

.med-picker {
  --background: hsl(var(--med-color-neutral-2));
  --border-radius: 16px 16px 0px 0px;
}
.med-picker .picker-above-highlight,
.med-picker .picker-below-highlight {
  background: hsl(var(--med-color-neutral-2), 0.8);
  display: block;
}
.med-picker .picker-button {
  color: hsl(var(--med-color-brand-4));
  font-size: 12px;
  line-height: 12px;
  font-family: "fsemeric";
  padding: 24px;
}
.med-picker .picker-toolbar {
  justify-content: space-between;
}
.med-picker .picker-toolbar-cancel .picker-button {
  color: hsl(var(--med-color-neutral-9));
  font-weight: 600;
}
.med-picker .picker-opt {
  color: hsl(var(--med-color-neutral-10));
}

.plt-electron.plt-desktop .med-picker--modal .picker-wrapper {
  left: unset;
  width: 430px;
}

.med-popover--full {
  --ion-backdrop-opacity: 0.8;
}
.med-popover--full ion-backdrop {
  background: hsl(var(--med-color-neutral-1));
}
.med-popover--full .popover-content {
  background: hsl(var(--med-color-neutral-2)) !important;
  border-radius: 16px;
  padding: 24px;
  width: 90%;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
  transform-origin: unset !important;
}

.med-popover--font-zoom {
  --box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.2);
  --background: hsl(var(--med-color-neutral-2)) !important;
  --width: 224px;
  color: hsl(var(--med-color-neutral-10));
  transform: translateY(20px);
}
.med-popover--font-zoom .popover-arrow::after {
  left: 1px;
  top: 4px;
  border-radius: 7px;
  width: 18px;
  height: 18px;
}
.med-popover--font-zoom .popover-content {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .med-popover--font-zoom .popover-content {
    --width: 280px;
  }
}
@media (min-width: 992px) {
  .med-popover--font-zoom .popover-content {
    --width: 400px;
  }
}

@supports (backdrop-filter: blur(0)) {
  .med-popover--font-zoom .popover-content,
.med-popover--font-zoom .popover-arrow::after {
    --background: hsl(var(--med-color-neutral-2));
    background: hsl(var(--med-color-neutral-2)) !important;
  }
}
.med-popover--tooltip {
  --background: hsl(var(--med-color-neutral-3));
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.2);
  --width: auto;
  --max-width: 280px;
}
.med-popover--tooltip .popover-arrow::after {
  left: 6px;
  top: 5px;
  border-radius: 0;
  width: 8px;
  height: 8px;
}
.med-popover--tooltip .popover-content {
  border-radius: 2px;
}

.tp-scroll {
  --tp-scroll-color: hsl(var(--med-color-brand-3));
  scroll-snap-type: both mandatory;
  scroll-padding-top: 30px;
  scroll-behavior: smooth;
  color: inherit;
}
.tp-scroll:hover::-webkit-scrollbar-thumb {
  color: var(--tp-scroll-color);
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tp-scroll-color);
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.tp-sheet {
  --background: hsl(var(--med-color-neutral-2)) !important;
  --border-radius: 15px 15px 0 0 !important;
  --height: auto !important;
  --width: 100% !important;
  padding-bottom: var(--ion-safe-area-bottom) !important;
}
.tp-sheet .modal-wrapper {
  position: fixed !important;
  bottom: 0 !important;
  max-height: 70vh !important;
  overflow: auto !important;
  opacity: 1 !important;
  padding: 24px !important;
}
@media (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait), (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait), (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait), (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait), (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .tp-sheet .modal-wrapper {
    padding: 24px 24px var(--ion-safe-area-bottom, 24px) 24px;
    padding-bottom: calc(24px + 3vh) !important;
  }
}
.tp-sheet .modal-wrapper .ion-page {
  position: relative !important;
  display: block !important;
  contain: content !important;
}

.tp-sheet-header {
  text-align: right;
  margin-bottom: 24px;
}

.tp-sheet--ion-content {
  overflow: none !important;
}
.tp-sheet--ion-content .modal-wrapper {
  padding: 0 !important;
}
.tp-sheet--ion-content ion-content {
  height: 70vh !important;
  --padding-end: 24px;
  --padding-start: 24px;
  --padding-top: 24px;
}

@media (min-width: 992px) {
  .tp-sheet {
    --width: 420px !important;
    --border-radius: 15px 0 0 15px !important;
  }
  .tp-sheet .modal-wrapper {
    max-height: 100vh !important;
    height: 100vh !important;
    right: 0 !important;
  }

  .tp-sheet--ion-content ion-content {
    height: 100vh !important;
  }
}
.cp-time-stamp {
  display: flex;
  align-items: center;
}

.cp-time-stamp__icon {
  stroke: hsl(var(--med-color-neutral-10));
  margin-right: 8px;
}

.cp-time-stamp__icon--play {
  stroke: hsl(var(--med-color-aula-3));
}

.cp-time-stamp__title {
  margin: 0 8px;
}

.cp-accordion-list__item {
  border-radius: 8px;
  --margin: 0;
}
.cp-accordion-list__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.cp-accordion-list__middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cp-accordion-list__end {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cp-accordion-list__thumbnail {
  margin-right: 16px;
}
.cp-accordion-list__avancar {
  margin-left: auto;
}
.cp-accordion-list__aula {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.cp-accordion-list__aula:not(:last-of-type) {
  border-bottom: 1px solid hsl(var(--med-color-aula-3));
}
.cp-accordion-list__icon--color {
  stroke: hsl(var(--med-color-aula-3));
  margin-right: 8px;
}
.cp-accordion-list__caption {
  margin: 4px 0;
}
.cp-accordion-list__aulas-start {
  margin-right: 16px;
}
.cp-accordion-list__aulas-middle {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-top: 4px;
}
.cp-accordion-list__aulas-result {
  margin-top: 16px;
}
.cp-accordion-list__aulas-end {
  display: flex;
  align-items: end;
  padding-bottom: 16px;
}
.cp-accordion-list__aulas-btn {
  display: block;
}
@media (max-width: 339.98px) {
  .cp-accordion-list__aulas-btn {
    display: none;
  }
}
.cp-accordion-list__aulas-btn-small {
  display: none;
}
@media (max-width: 339.98px) {
  .cp-accordion-list__aulas-btn-small {
    display: block;
  }
}

.med-rotate {
  transition: transform 300ms ease;
}

.accordion-item--open .med-rotate {
  --rotate: rotate(180deg);
}

.cp-card-assuntos-temas {
  align-items: center;
}
.cp-card-assuntos-temas__column {
  display: flex;
  align-items: center;
  padding: 0 16px 0 0;
}
.cp-card-assuntos-temas__column:nth-of-type(2) {
  border-right: 1px solid hsl(var(--med-color-neutral-3));
  flex: 1;
}
.cp-card-assuntos-temas__column:nth-of-type(3) {
  padding: 0 0 0 16px;
}
.cp-card-assuntos-temas__icon-background {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.cp-card-assuntos-temas__icon-background--positivo {
  background: hsl(var(--med-color-fb-success));
}
.cp-card-assuntos-temas__icon-background--negativo {
  background: hsl(var(--med-color-fb-warning));
  transform: rotate(180deg);
}
.cp-card-assuntos-temas__icon {
  stroke: hsl(var(--med-color-neutral-1));
}

.cp-chart-bar {
  flex-direction: column;
  width: 100%;
}
.cp-chart-bar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
.cp-chart-bar__legenda {
  display: flex;
  align-items: center;
}
.cp-chart-bar__label {
  display: flex;
  align-items: center;
}
.cp-chart-bar__label:not(:last-of-type) {
  padding-right: 16px;
}
.cp-chart-bar__legenda-icon {
  width: 6px;
  height: 6px;
  border-radius: 1px;
  margin-right: 6px;
  background: hsl(var(--med-color-neutral-10));
}
.cp-chart-bar__legenda-icon--voce {
  background: hsl(var(--med-color-brand-4));
}
.cp-chart-bar__legenda-icon--concorrencia {
  background: hsl(var(--med-color-neutral-8));
}
.cp-chart-bar__bottom {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.cp-chart-bar__item {
  display: flex;
  flex-direction: column;
  min-width: 80px;
}
.cp-chart-bar__container {
  display: flex;
  justify-content: center;
}
.cp-chart-bar__chart--right {
  margin-left: 2px;
}
.cp-chart-bar__porcentagem {
  padding-bottom: 6px;
}
.cp-chart-bar__semana {
  padding-top: 14px;
  text-align: center;
}

.cp-dialog__header {
  text-align: right;
}
.cp-dialog__title {
  margin-top: 24px;
  margin-bottom: 16px;
}
.cp-dialog__footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cp-filtro-dashboard-modal {
  border-radius: 16px 16px 0px 0px;
}
.cp-filtro-dashboard-modal__content {
  --background: hsl(var(--med-color-neutral-2));
  --padding-start: 32px;
  --padding-end: 32px;
  --padding-top: 32px;
}
.cp-filtro-dashboard-modal__header {
  text-align: right;
}
.cp-filtro-dashboard-modal__filtro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: solid 1px hsl(var(--med-color-neutral-3));
  margin-top: 40px;
}
.cp-filtro-dashboard-modal__seletor {
  display: flex;
  align-items: center;
}
.cp-filtro-dashboard-modal__label {
  text-align: center;
  margin: 0px 4px;
}
.cp-filtro-dashboard-modal__concursos-container {
  margin-top: 32px;
}
.cp-filtro-dashboard-modal__concurso {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.cp-filtro-dashboard-modal__radio {
  align-items: center;
  display: flex;
  margin-right: 16px;
}
.cp-filtro-dashboard-modal__footer {
  background: hsl(var(--med-color-neutral-3));
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.cp-filtro-dashboard {
  align-items: center;
}
.cp-filtro-dashboard__type {
  padding-right: 16px;
}
.cp-filtro-dashboard__button {
  margin-left: auto;
}

.cp-header-counter {
  align-items: center;
  justify-content: space-between;
}
.cp-header-counter__end {
  margin-left: 16px;
}

.cp-tabs {
  display: flex;
  overflow-x: auto;
}
.cp-tabs__tab:not(:last-child) {
  margin-right: 8px;
}

.cp-tab {
  flex-direction: column;
  width: 136px;
  transition: background-color 300ms;
  flex-shrink: 0;
  border: 1px solid hsl(var(--med-color-neutral-3));
}
.cp-tab--active {
  background: hsl(var(--med-color-neutral-2)) !important;
  border: 1px solid hsl(var(--med-color-neutral-2));
}
.cp-tab__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cp-tab__title {
  padding-right: 16px;
}
.cp-tab__icon-background {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.cp-tab__icon-background--positivo {
  background: hsl(var(--med-color-fb-success));
}
.cp-tab__icon-background--negativo {
  background: hsl(var(--med-color-fb-warning));
  transform: rotate(180deg);
}
.cp-tab__icon {
  stroke: hsl(var(--med-color-neutral-1));
}

.cp-video-caption-feedback {
  min-height: 85px;
  --padding: 8px 16px !important;
}
.cp-video-caption-feedback__start {
  display: flex;
  align-items: center;
}

.monta-provas-accordion__text-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.monta-provas__header-end {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.monta-provas-content {
  display: block;
}
@media (min-width: 992px) {
  .monta-provas-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 44px 0 10px 0;
  }
}

.monta-provas-content__chart {
  background: hsl(var(--med-color-neutral-2));
  padding: 0 var(--med-spacing-stretch-md);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .monta-provas-content__chart {
    margin: unset;
    max-width: 500px;
  }
}

.monta-provas-content__chart-data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: var(--med-line-height-compressed);
  text-align: center;
  --font-size-label: var(--med-font-size-xxxs);
}

.monta-provas-content__chart-label {
  --font-size-item: var(--med-font-size-xxxs);
}

.med-chart-radial-label__quantia {
  min-width: 70px !important;
}

.monta-provas-content__button {
  display: flex;
  padding: 0 var(--med-spacing-stretch-xs);
}

.monta-provas-content__button-realizar {
  margin-left: auto;
}

.monta-provas-content__button-icon {
  margin-right: 16px;
}

.monta-provas-content__button-icon-duplicar {
  margin-top: 3px;
  margin-right: 16px;
}

.monta-provas-content__button-tooltip {
  opacity: 0.3;
  stroke: hsl(var(--med-color-neutral-10));
}

.monta-provas-filtro__fechar {
  display: flex;
  padding: 12px 32px;
  justify-content: end;
}

.monta-provas-filtro__wrap-title {
  display: flex;
  align-items: center;
  padding: 12px 32px;
}

.monta-provas-filtro__limpar {
  margin-left: auto;
}

.monta-provas-filtro__accordion {
  padding: 12px 32px;
}

.monta-provas-filtro__accordion-item {
  --background: transparent;
  --border: var(--med-spacing-stack-xxxs) solid hsl(var(--med-color-neutral-2));
  --background-header: hsl(var(--med-color-neutral-6));
  --background-content: transparent;
}

.monta-provas-filtro__accordion-title {
  display: flex;
  align-items: center;
  --font-weight: 700;
}

.monta-provas-filtro__accordion-icon {
  margin-left: auto;
}

.monta-prova-filtro__icon {
  stroke: hsl(var(--med-color-neutral-2));
}

.monta-provas-filtro__accordion-chip {
  height: 24px;
  --background: hsl(var(--med-color-brand-1));
  --color: hsl(var(--med-color-neutral-10));
  --border-color: transparent;
}

.monta-provas-filtro__content {
  padding: 16px 0 0 0;
}

@media (min-width: 992px) {
  .monta-provas-filtro__content--desktop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.monta-prova-filtro__search {
  --background: hsl(var(--med-color-neutral-3));
  --spacing: var(--med-spacing-inset-xxs);
}
@media (min-width: 992px) {
  .monta-prova-filtro__search {
    flex-basis: 30%;
  }
}

.monta-prova-filtro__todas {
  display: flex;
  align-items: center;
  margin: 8px 0px 8px 0px;
  --padding: 8px 16px;
}

@media (min-width: 992px) {
  .monta-prova-filtro__lista {
    flex-basis: 100%;
  }
}

.monta-prova-filtro__todas-caption {
  margin-left: 16px;
}

.monta-prova-filtro__todas-caption--disabled {
  opacity: 0.5;
}

.monta-prova-filtro__items {
  display: flex;
  align-items: center;
  padding: 16px 0px 8px 0px;
  margin: 8px 16px;
  border-top: 1px solid hsl(var(--med-color-neutral-3));
}

.monta-prova-filtro__item-label {
  --color-label: hsl(var(--med-color-neutral-10));
  --margin: 16px 16px 8px 16px;
  border-top: 1px solid hsl(var(--med-color-neutral-3));
  padding: 12px 0px 0px 0px;
}

.monta-provas-filtro__accordion-header {
  margin-bottom: 16px;
}

.monta-provas-filtro__search-terms {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .monta-provas-filtro__search-terms {
    justify-content: unset;
  }
}

.monta-provas-filtro__search-limpar {
  --min-width: 45px;
  --min-height: 45px;
}

.monta-provas-filtro__search-items {
  margin-top: 16px;
}

.monta-provas-filtro__item-button {
  display: inline-flex;
  margin-right: 16px;
  align-items: center;
  padding: 3px 3px 3px 16px;
  margin-bottom: 8px;
  border-radius: 50px;
  background: hsl(var(--med-color-neutral-3));
}

.monta-provas-filtro__item-label {
  margin-right: 8px;
}

.monta-provas-filtro__content-years {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 992px) {
  .monta-provas-filtro__content-years {
    justify-content: start;
  }
}

.monta-prova-filtro__input {
  --background: hsl(var(--med-color-neutral-3));
  --border-color: transparent;
  color: hsl(var(--med-color-neutral-10));
}

.monta-provas-filtro__content-flex {
  display: flex;
}

.monta-provas-filtro__input-limpar {
  --min-width: 50px;
  --min-height: 45px;
}

.monta-provas-filtro__content--subespecialidades {
  width: 100%;
}

.monta-provas-filtro-concurso__items {
  border-top: 1px solid hsl(var(--med-color-neutral-3));
  margin: 0 16px;
  --padding: 6px 0px;
}
@media (min-width: 992px) {
  .monta-provas-filtro-concurso__items {
    --button-margin: 16px !important;
  }
}

.monta-provas-filtro__accordion-item {
  --background: hsl(var(--med-color-neutral-2));
}

.monta-provas-filtro__periodo-caption {
  margin: 0 16px;
}

.monta-provas-filtro__text-center {
  align-items: center;
  display: flex;
}

@media (min-width: 992px) {
  .monta-provas-footer {
    display: flex;
    justify-content: space-between;
    padding-top: var(--med-spacing-stack-sm);
    padding-bottom: var(--med-spacing-stack-md);
    padding-right: var(--med-spacing-inline-lg);
    padding-left: var(--med-spacing-inline-lg);
    background: hsl(var(--med-color-neutral-1));
  }
}

.monta-provas-footer__container {
  display: flex;
  align-items: center;
  padding: var(--med-spacing-inset-sm);
  max-width: 1220px;
  margin: 0 auto;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .monta-provas-footer__container {
    margin: 0;
    padding: 0;
  }
}

.monta-provas-footer__container-button {
  display: flex;
  align-items: center;
  padding: var(--med-spacing-inset-sm);
  max-width: 1220px;
  margin: 0 auto;
  justify-content: center;
}
@media (min-width: 992px) {
  .monta-provas-footer__container-button {
    margin: 0;
    padding: 0;
  }
}

.monta-provas-footer__auxiliar {
  font-size: var(--med-font-size-nano);
  font-weight: var(--med-font-weight-regular);
  line-height: var(--med-line-height-compressed);
  color: hsl(var(--med-color-neutral-10));
  text-transform: uppercase;
  margin: 0;
}

.monta-provas-footer__col {
  text-align: center;
}
@media (min-width: 992px) {
  .monta-provas-footer__col {
    margin-right: var(--med-spacing-inline-xs);
  }
}

.monta-provas-footer__number {
  font-size: var(--med-font-size-xs);
  font-weight: var(--med-font-weight-semibold);
  line-height: var(--med-line-height-compressed);
  color: hsl(var(--med-color-brand-4));
  text-transform: uppercase;
  margin: 0;
  padding: var(--med-spacing-stack-nano) 0;
}

.monta-provas-footer__text-number {
  --font-weight: var(--med-font-weight-semibold);
}
@media (min-width: 992px) {
  .monta-provas-footer__text-number {
    --font-size: var(--med-font-size-lg);
  }
}

/*# sourceMappingURL=components.css.map */
