.color-theme-gold,
[color-theme=gold] {
  --med-color-neutral-1: #0e0d0b;
  --med-color-neutral-1-rgb: 14, 13, 11;
  --med-color-neutral-2: #2a2822;
  --med-color-neutral-2-rgb: 42, 40, 34;
  --med-color-neutral-3: #464339;
  --med-color-neutral-3-rgb: 70, 67, 57;
  --med-color-neutral-4: #625d50;
  --med-color-neutral-4-rgb: 98, 93, 80;
  --med-color-neutral-5: #7e7867;
  --med-color-neutral-5-rgb: 126, 120, 103;
  --med-color-neutral-6: #989181;
  --med-color-neutral-6-rgb: 152, 145, 129;
  --med-color-neutral-7: #afaa9d;
  --med-color-neutral-7-rgb: 175, 170, 157;
  --med-color-neutral-8: #c6c2b9;
  --med-color-neutral-8-rgb: 198, 194, 185;
  --med-color-neutral-9: #dddad5;
  --med-color-neutral-9-rgb: 221, 218, 213;
  --med-color-neutral-10: #f4f3f1;
  --med-color-neutral-10-rgb: 244, 243, 241;
  --med-color-brand-contrast-1: #000;
  --med-color-brand-contrast-2: #fff;
  --med-color-brand-1: #5c450a;
  --med-color-brand-2: #8a670f;
  --med-color-brand-3: #b88914;
  --med-color-brand-4: #ebbc47;
  --med-color-brand-5: #f5dea3;
  --med-color-brand-contrast-1-rgb: 0, 0, 0;
  --med-color-brand-contrast-2-rgb: 255, 255, 255;
  --med-color-brand-1-rgb: 92, 69, 10;
  --med-color-brand-2-rgb: 138, 103, 15;
  --med-color-brand-3-rgb: 184, 137, 20;
  --med-color-brand-4-rgb: 235, 188, 71;
  --med-color-brand-5-rgb: 245, 222, 163;
  --med-color-brand-gradient: linear-gradient(to right, #b88914, #5c450a);
}
.color-theme-gold .ion-color-brand,
[color-theme=gold] .ion-color-brand {
  --med-color-contrast-1: var(--med-color-brand-contrast-1, #000);
  --med-color-contrast-2: var(--med-color-brand-contrast-2, #fff);
  --med-color-1: var(--med-color-brand-1, #5c450a);
  --med-color-2: var(--med-color-brand-2, #8a670f);
  --med-color-3: var(--med-color-brand-3, #b88914);
  --med-color-4: var(--med-color-brand-4, #ebbc47);
  --med-color-5: var(--med-color-brand-5, #f5dea3);
  --med-color-contrast-1-rgb: var(--med-color-brand-contrast-1-rgb, 0, 0, 0);
  --med-color-contrast-2-rgb: var(--med-color-brand-contrast-2-rgb, 255, 255, 255);
  --med-color-1-rgb: var(--med-color-brand-1-rgb, 92, 69, 10);
  --med-color-2-rgb: var(--med-color-brand-2-rgb, 138, 103, 15);
  --med-color-3-rgb: var(--med-color-brand-3-rgb, 184, 137, 20);
  --med-color-4-rgb: var(--med-color-brand-4-rgb, 235, 188, 71);
  --med-color-5-rgb: var(--med-color-brand-5-rgb, 245, 222, 163);
  --med-color-gradient: var(--med-color-brand-gradient, linear-gradient(to right, #b88914, #5c450a));
}
.color-theme-gold .med-neutral-1,
[color-theme=gold] .med-neutral-1 {
  --med-neutral: var(--med-neutral-1, #0e0d0b) !important;
  --med-neutral-rgb: var(--med-neutral-1-rgb, 14, 13, 11) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}
.color-theme-gold .med-neutral-2,
[color-theme=gold] .med-neutral-2 {
  --med-neutral: var(--med-neutral-2, #2a2822) !important;
  --med-neutral-rgb: var(--med-neutral-2-rgb, 42, 40, 34) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}
.color-theme-gold .med-neutral-3,
[color-theme=gold] .med-neutral-3 {
  --med-neutral: var(--med-neutral-3, #464339) !important;
  --med-neutral-rgb: var(--med-neutral-3-rgb, 70, 67, 57) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}
.color-theme-gold .med-neutral-4,
[color-theme=gold] .med-neutral-4 {
  --med-neutral: var(--med-neutral-4, #625d50) !important;
  --med-neutral-rgb: var(--med-neutral-4-rgb, 98, 93, 80) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}
.color-theme-gold .med-neutral-5,
[color-theme=gold] .med-neutral-5 {
  --med-neutral: var(--med-neutral-5, #817a6a) !important;
  --med-neutral-rgb: var(--med-neutral-5-rgb, 129, 122, 106) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}
.color-theme-gold .med-neutral-6,
[color-theme=gold] .med-neutral-6 {
  --med-neutral: var(--med-neutral-6, #989181) !important;
  --med-neutral-rgb: var(--med-neutral-6-rgb, 152, 145, 129) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}
.color-theme-gold .med-neutral-7,
[color-theme=gold] .med-neutral-7 {
  --med-neutral: var(--med-neutral-7, #afaa9d) !important;
  --med-neutral-rgb: var(--med-neutral-7-rgb, 175, 170, 157) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}
.color-theme-gold .med-neutral-8,
[color-theme=gold] .med-neutral-8 {
  --med-neutral: var(--med-neutral-8, #c6c2b9) !important;
  --med-neutral-rgb: var(--med-neutral-8-rgb, 198, 194, 185) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}
.color-theme-gold .med-neutral-9,
[color-theme=gold] .med-neutral-9 {
  --med-neutral: var(--med-neutral-9, #dddad5) !important;
  --med-neutral-rgb: var(--med-neutral-9-rgb, 221, 218, 213) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}
.color-theme-gold .med-neutral-10,
[color-theme=gold] .med-neutral-10 {
  --med-neutral: var(--med-neutral-10, #f4f3f1) !important;
  --med-neutral-rgb: var(--med-neutral-10-rgb, 244, 243, 241) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}

/*# sourceMappingURL=gold.css.map */
