:root .dark-mode {
  /* --on-surface: #fff;
  --surface: #121212; */
}
:root .dark-mode ion-content {
  --background: #141414;
}

:root .light-mode {
  /* --on-surface: #121212;
  --surface: #fff; */
}
:root .light-mode ion-content {
  --background: #fafafa;
}

:root .theme-gold {
  --med-color-brand-primary-contrast: #fff !important;
  --med-color-brand-primary-contrast-rgb: color-to-rgb-list(#fff);
  --med-color-brand-primary-darkest: #7e6c3d;
  --med-color-brand-primary-darkest-rgb: color-to-rgb-list(#7e6c3d);
  --med-color-brand-primary-dark: #8d7942;
  --med-color-brand-primary-dark-rgb: color-to-rgb-list(#8d7942);
  --med-color-brand-primary-medium: #b89d58;
  --med-color-brand-primary-medium-rgb: color-to-rgb-list(#b89d58);
  --med-color-brand-primary-light: #baa87b;
  --med-color-brand-primary-light-rgb: color-to-rgb-list(#baa87b);
  --med-color-brand-primary-lightest: #bbad8a;
  --med-color-brand-primary-lightest-rgb: color-to-rgb-list(#bbad8a);
  --med-color-brand-primary-gradient: linear-gradient(to right, #b89d58, #8d7942);
}

.theme-gold .ion-color-brand-primary {
  --med-color-contrast: var(--med-color-brand-primary-contrast, #fff) !important;
  --med-color-contrast-rgb: var(--med-color-brand-primary-contrast-rgb, color-to-rgb-list(#fff)) !important;
  --med-color-darkest: var(--med-color-brand-primary-darkest, #7e6c3d) !important;
  --med-color-darkest-rgb: var(--med-color-brand-primary-darkest-rgb, color-to-rgb-list(#7e6c3d)) !important;
  --med-color-dark: var(--med-color-brand-primary-dark, #8d7942) !important;
  --med-color-dark-rgb: var(--med-color-brand-primary-dark-rgb, color-to-rgb-list(#8d7942)) !important;
  --med-color-medium: var(--med-color-brand-primary-medium, #b89d58) !important;
  --med-color-medium-rgb: var(--med-color-brand-primary-medium-rgb, color-to-rgb-list(#b89d58)) !important;
  --med-color-light: var(--med-color-brand-primary-light, #baa87b) !important;
  --med-color-light-rgb: var(--med-color-brand-primary-light-rgb, color-to-rgb-list(#baa87b)) !important;
  --med-color-lightest: var(--med-color-brand-primary-lightest, #bbad8a) !important;
  --med-color-lightest-rgb: var(--med-color-brand-primary-lightest-rgb, color-to-rgb-list(#bbad8a)) !important;
  --med-color-gradient: var(--med-color-brand-primary-gradient, linear-gradient(to right, #b89d58, #8d7942)) !important;
}

ion-button.button-has-icon-only.in-med-navbar,
ion-button.button-has-icon-only.in-med-toolbar {
  --min-height: 24px !important;
  --min-width: 24px !important;
  --padding: 0 !important;
  font-size: 24px !important;
}

.plt-electron.plt-desktop ion-button[ds-size=xs].button-has-icon-only {
  --min-height: 24px;
  --min-width: 24px;
  --padding: 0;
  font-size: 16px;
}
.plt-electron.plt-desktop ion-button[ds-size=sm].button-has-icon-only {
  --min-height: 32px;
  --min-width: 32px;
  --padding: 0;
  font-size: 24px;
}
.plt-electron.plt-desktop ion-button.button-has-icon-only,
.plt-electron.plt-desktop ion-button[ds-size=md].button-has-icon-only {
  --min-height: 40px;
  --min-width: 40px;
  --padding: 0;
  font-size: 32px;
}
.plt-electron.plt-desktop ion-button[ds-size=lg].button-has-icon-only {
  --min-height: 48px;
  --min-width: 48px;
  --padding: 0;
  font-size: 32px;
}

ion-icon.ion-color {
  fill: var(--med-color-medium) !important;
}

.plt-electron.plt-desktop med-alternativas {
  --riscar-flex-direction: row;
  --riscar-icon-margin: 0 2px 0 0;
}

/*# sourceMappingURL=medsoft-theme.css.map */
