.ion-color-brand-primary {
  --med-color-contrast: var(--med-color-brand-primary-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-brand-primary-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-brand-primary-darkest, #074953) !important;
  --med-color-darkest-rgb: var(--med-color-brand-primary-darkest-rgb, 7, 73, 83) !important;
  --med-color-dark: var(--med-color-brand-primary-dark, #137585) !important;
  --med-color-dark-rgb: var(--med-color-brand-primary-dark-rgb, 19, 117, 133) !important;
  --med-color-medium: var(--med-color-brand-primary-medium, #3aa8b9) !important;
  --med-color-medium-rgb: var(--med-color-brand-primary-medium-rgb, 58, 168, 185) !important;
  --med-color-light: var(--med-color-brand-primary-light, #73d6e5) !important;
  --med-color-light-rgb: var(--med-color-brand-primary-light-rgb, 115, 214, 229) !important;
  --med-color-lightest: var(--med-color-brand-primary-lightest, #b0ecf5) !important;
  --med-color-lightest-rgb: var(--med-color-brand-primary-lightest-rgb, 176, 236, 245) !important;
  --med-color-gradient: var(--med-color-brand-primary-gradient, linear-gradient(to right, #3aa8b9, #137585)) !important;
}

.ion-color-aula {
  --med-color-contrast: var(--med-color-aula-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-aula-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-aula-darkest, #075344) !important;
  --med-color-darkest-rgb: var(--med-color-aula-darkest-rgb, 7, 83, 68) !important;
  --med-color-dark: var(--med-color-aula-dark, #13856e) !important;
  --med-color-dark-rgb: var(--med-color-aula-dark-rgb, 19, 133, 110) !important;
  --med-color-medium: var(--med-color-aula-medium, #3ab89f) !important;
  --med-color-medium-rgb: var(--med-color-aula-medium-rgb, 58, 184, 159) !important;
  --med-color-light: var(--med-color-aula-light, #73e5cf) !important;
  --med-color-light-rgb: var(--med-color-aula-light-rgb, 115, 229, 207) !important;
  --med-color-lightest: var(--med-color-aula-lightest, #b0f5e7) !important;
  --med-color-lightest-rgb: var(--med-color-aula-lightest-rgb, 176, 245, 231) !important;
  --med-color-gradient: var(--med-color-aula-gradient, linear-gradient(to right, #3ab89f, #13856e)) !important;
}

.ion-color-material {
  --med-color-contrast: var(--med-color-material-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-material-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-material-darkest, #552607) !important;
  --med-color-darkest-rgb: var(--med-color-material-darkest-rgb, 85, 38, 7) !important;
  --med-color-dark: var(--med-color-material-dark, #854013) !important;
  --med-color-dark-rgb: var(--med-color-material-dark-rgb, 133, 64, 19) !important;
  --med-color-medium: var(--med-color-material-medium, #b86d3b) !important;
  --med-color-medium-rgb: var(--med-color-material-medium-rgb, 184, 109, 59) !important;
  --med-color-light: var(--med-color-material-light, #e5a173) !important;
  --med-color-light-rgb: var(--med-color-material-light-rgb, 229, 161, 115) !important;
  --med-color-lightest: var(--med-color-material-lightest, #f5ccb0) !important;
  --med-color-lightest-rgb: var(--med-color-material-lightest-rgb, 245, 204, 176) !important;
  --med-color-gradient: var(--med-color-material-gradient, linear-gradient(to right, #b86d3b, #854013)) !important;
}

.ion-color-questoes {
  --med-color-contrast: var(--med-color-questoes-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-questoes-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-questoes-darkest, #073953) !important;
  --med-color-darkest-rgb: var(--med-color-questoes-darkest-rgb, 7, 57, 83) !important;
  --med-color-dark: var(--med-color-questoes-dark, #135f85) !important;
  --med-color-dark-rgb: var(--med-color-questoes-dark-rgb, 19, 95, 133) !important;
  --med-color-medium: var(--med-color-questoes-medium, #3a8eb8) !important;
  --med-color-medium-rgb: var(--med-color-questoes-medium-rgb, 58, 142, 184) !important;
  --med-color-light: var(--med-color-questoes-light, #73bfe5) !important;
  --med-color-light-rgb: var(--med-color-questoes-light-rgb, 115, 191, 229) !important;
  --med-color-lightest: var(--med-color-questoes-lightest, #b0def5) !important;
  --med-color-lightest-rgb: var(--med-color-questoes-lightest-rgb, 176, 222, 245) !important;
  --med-color-gradient: var(--med-color-questoes-gradient, linear-gradient(to right, #3a8eb8, #135f85)) !important;
}

.ion-color-revalida {
  --med-color-contrast: var(--med-color-revalida-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-revalida-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-revalida-darkest, #53071e) !important;
  --med-color-darkest-rgb: var(--med-color-revalida-darkest-rgb, 83, 7, 30) !important;
  --med-color-dark: var(--med-color-revalida-dark, #851335) !important;
  --med-color-dark-rgb: var(--med-color-revalida-dark-rgb, 133, 19, 53) !important;
  --med-color-medium: var(--med-color-revalida-medium, #b83a60) !important;
  --med-color-medium-rgb: var(--med-color-revalida-medium-rgb, 184, 58, 96) !important;
  --med-color-light: var(--med-color-revalida-light, #e57395) !important;
  --med-color-light-rgb: var(--med-color-revalida-light-rgb, 229, 115, 149) !important;
  --med-color-lightest: var(--med-color-revalida-lightest, #f5b0c5) !important;
  --med-color-lightest-rgb: var(--med-color-revalida-lightest-rgb, 245, 176, 197) !important;
  --med-color-gradient: var(--med-color-revalida-gradient, linear-gradient(to right, #b83a60, #851335)) !important;
}

.ion-color-provaschecklist {
  --med-color-contrast: var(--med-color-provaschecklist-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-provaschecklist-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-provaschecklist-darkest, #2b0755) !important;
  --med-color-darkest-rgb: var(--med-color-provaschecklist-darkest-rgb, 43, 7, 85) !important;
  --med-color-dark: var(--med-color-provaschecklist-dark, #481385) !important;
  --med-color-dark-rgb: var(--med-color-provaschecklist-dark-rgb, 72, 19, 133) !important;
  --med-color-medium: var(--med-color-provaschecklist-medium, #753bb8) !important;
  --med-color-medium-rgb: var(--med-color-provaschecklist-medium-rgb, 117, 59, 184) !important;
  --med-color-light: var(--med-color-provaschecklist-light, #a873e5) !important;
  --med-color-light-rgb: var(--med-color-provaschecklist-light-rgb, 168, 115, 229) !important;
  --med-color-lightest: var(--med-color-provaschecklist-lightest, #d1b2f5) !important;
  --med-color-lightest-rgb: var(--med-color-provaschecklist-lightest-rgb, 209, 178, 245) !important;
  --med-color-gradient: var(--med-color-provaschecklist-gradient, linear-gradient(to right, #753bb8, #481385)) !important;
}

.ion-color-feedback-warning {
  --med-color-contrast: var(--med-color-feedback-warning-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-feedback-warning-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-feedback-warning-darkest, #504606) !important;
  --med-color-darkest-rgb: var(--med-color-feedback-warning-darkest-rgb, 80, 70, 6) !important;
  --med-color-dark: var(--med-color-feedback-warning-dark, #857513) !important;
  --med-color-dark-rgb: var(--med-color-feedback-warning-dark-rgb, 133, 117, 19) !important;
  --med-color-medium: var(--med-color-feedback-warning-medium, #b8a73b) !important;
  --med-color-medium-rgb: var(--med-color-feedback-warning-medium-rgb, 184, 167, 59) !important;
  --med-color-light: var(--med-color-feedback-warning-light, #e5d673) !important;
  --med-color-light-rgb: var(--med-color-feedback-warning-light-rgb, 229, 214, 115) !important;
  --med-color-lightest: var(--med-color-feedback-warning-lightest, #f5ecb0) !important;
  --med-color-lightest-rgb: var(--med-color-feedback-warning-lightest-rgb, 245, 236, 176) !important;
  --med-color-gradient: var(--med-color-feedback-warning-gradient, linear-gradient(to right, #b8a73b, #857513)) !important;
}

.ion-color-feedback-error {
  --med-color-contrast: var(--med-color-feedback-error-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-feedback-error-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-feedback-error-darkest, #520c07) !important;
  --med-color-darkest-rgb: var(--med-color-feedback-error-darkest-rgb, 82, 12, 7) !important;
  --med-color-dark: var(--med-color-feedback-error-dark, #851a13) !important;
  --med-color-dark-rgb: var(--med-color-feedback-error-dark-rgb, 133, 26, 19) !important;
  --med-color-medium: var(--med-color-feedback-error-medium, #b8433b) !important;
  --med-color-medium-rgb: var(--med-color-feedback-error-medium-rgb, 184, 67, 59) !important;
  --med-color-light: var(--med-color-feedback-error-light, #e57a73) !important;
  --med-color-light-rgb: var(--med-color-feedback-error-light-rgb, 229, 122, 115) !important;
  --med-color-lightest: var(--med-color-feedback-error-lightest, #f5b5b0) !important;
  --med-color-lightest-rgb: var(--med-color-feedback-error-lightest-rgb, 245, 181, 176) !important;
  --med-color-gradient: var(--med-color-feedback-error-gradient, linear-gradient(to right, #b8433b, #851a13)) !important;
}

.ion-color-feedback-success {
  --med-color-contrast: var(--med-color-feedback-success-contrast, #fafafa) !important;
  --med-color-contrast-rgb: var(--med-color-feedback-success-contrast-rgb, 250, 250, 250) !important;
  --med-color-darkest: var(--med-color-feedback-success-darkest, #065010) !important;
  --med-color-darkest-rgb: var(--med-color-feedback-success-darkest-rgb, 6, 80, 16) !important;
  --med-color-dark: var(--med-color-feedback-success-dark, #138522) !important;
  --med-color-dark-rgb: var(--med-color-feedback-success-dark-rgb, 19, 133, 34) !important;
  --med-color-medium: var(--med-color-feedback-success-medium, #3bb84b) !important;
  --med-color-medium-rgb: var(--med-color-feedback-success-medium-rgb, 59, 184, 75) !important;
  --med-color-light: var(--med-color-feedback-success-light, #73e582) !important;
  --med-color-light-rgb: var(--med-color-feedback-success-light-rgb, 115, 229, 130) !important;
  --med-color-lightest: var(--med-color-feedback-success-lightest, #b0f5b9) !important;
  --med-color-lightest-rgb: var(--med-color-feedback-success-lightest-rgb, 176, 245, 185) !important;
  --med-color-gradient: var(--med-color-feedback-success-gradient, linear-gradient(to right, #3bb84b, #138522)) !important;
}

.ion-color-neutral-light {
  --med-color-contrast: var(--med-color-neutral-light-contrast, #292929) !important;
  --med-color-contrast-rgb: var(--med-color-neutral-light-contrast-rgb, 41, 41, 41) !important;
  --med-color-darkest: var(--med-color-neutral-light-40, #ebebeb) !important;
  --med-color-darkest-rgb: var(--med-color-neutral-light-40-rgb, 235, 235, 235) !important;
  --med-color-dark: var(--med-color-neutral-light-30, #d6d6d6) !important;
  --med-color-dark-rgb: var(--med-color-neutral-light-30-rgb, 214, 214, 214) !important;
  --med-color-light: var(--med-color-neutral-light-20, #c2c2c2) !important;
  --med-color-light-rgb: var(--med-color-neutral-light-20-rgb, 194, 194, 194) !important;
  --med-color-lightest: var(--med-color-neutral-light-10, #adadad) !important;
  --med-color-lightest-rgb: var(--med-color-neutral-light-10-rgb, 173, 173, 173) !important;
  --med-color-medium: var(--med-color-neutral-light-prime, #fafafa) !important;
  --med-color-medium-rgb: var(--med-color-neutral-light-prime-rgb, 250, 250, 250) !important;
  --med-color-gradient: var(--med-color-neutral-light-gradient, linear-gradient(to right, #141414, #fafafa)) !important;
}

.ion-color-neutral-dark {
  --med-color-contrast: var(--med-color-neutral-dark-contrast, #ebebeb) !important;
  --med-color-contrast-rgb: var(--med-color-neutral-dark-contrast-rgb, 235, 235, 235) !important;
  --med-color-darkest: var(--med-color-neutral-dark-40, #292929) !important;
  --med-color-darkest-rgb: var(--med-color-neutral-dark-40-rgb, 41, 41, 41) !important;
  --med-color-dark: var(--med-color-neutral-dark-30, #474747) !important;
  --med-color-dark-rgb: var(--med-color-neutral-dark-30-rgb, 71, 71, 71) !important;
  --med-color-light: var(--med-color-neutral-dark-20, #5c5c5c) !important;
  --med-color-light-rgb: var(--med-color-neutral-dark-20-rgb, 92, 92, 92) !important;
  --med-color-lightest: var(--med-color-neutral-dark-10, #7a7a7a) !important;
  --med-color-lightest-rgb: var(--med-color-neutral-dark-10-rgb, 122, 122, 122) !important;
  --med-color-medium: var(--med-color-neutral-dark-prime, #141414) !important;
  --med-color-medium-rgb: var(--med-color-neutral-dark-prime-rgb, 20, 20, 20) !important;
  --med-color-gradient: var(--med-color-neutral-dark-gradient, linear-gradient(to right, #fafafa, #141414)) !important;
}

:root {
  --med-color-neutral-1: #0b0e0e;
  --med-color-neutral-1-rgb: 11, 14, 14;
  --med-color-neutral-2: #22292a;
  --med-color-neutral-2-rgb: 34, 41, 42;
  --med-color-neutral-3: #394446;
  --med-color-neutral-3-rgb: 57, 68, 70;
  --med-color-neutral-4: #506062;
  --med-color-neutral-4-rgb: 80, 96, 98;
  --med-color-neutral-5: #677b7e;
  --med-color-neutral-5-rgb: 103, 123, 126;
  --med-color-neutral-6: #819598;
  --med-color-neutral-6-rgb: 129, 149, 152;
  --med-color-neutral-7: #9dacaf;
  --med-color-neutral-7-rgb: 157, 172, 175;
  --med-color-neutral-8: #b9c4c6;
  --med-color-neutral-8-rgb: 185, 196, 198;
  --med-color-neutral-9: #d5dcdd;
  --med-color-neutral-9-rgb: 213, 220, 221;
  --med-color-neutral-10: #f1f3f4;
  --med-color-neutral-10-rgb: 241, 243, 244;
  --med-color-brand-contrast-1: #fff;
  --med-color-brand-contrast-2: #000;
  --med-color-brand-1: #0a515c;
  --med-color-brand-2: #0f798a;
  --med-color-brand-3: #14a2b8;
  --med-color-brand-4: #47d5eb;
  --med-color-brand-5: #a3eaf5;
  --med-color-brand-contrast-1-rgb: 255, 255, 255;
  --med-color-brand-contrast-2-rgb: 0, 0, 0;
  --med-color-brand-1-rgb: 10, 81, 92;
  --med-color-brand-2-rgb: 15, 121, 138;
  --med-color-brand-3-rgb: 20, 162, 184;
  --med-color-brand-4-rgb: 71, 213, 235;
  --med-color-brand-5-rgb: 163, 234, 245;
  --med-color-gradient: var(--med-color-brand-gradient, linear-gradient(to right, #14a2b8, #0a515c));
  --med-color-aulas-contrast-1: #fff;
  --med-color-aulas-contrast-2: #000;
  --med-color-aulas-1: #0a5c4b;
  --med-color-aulas-2: #0f8a71;
  --med-color-aulas-3: #14b897;
  --med-color-aulas-4: #47ebca;
  --med-color-aulas-5: #a3f5e4;
  --med-color-aulas-contrast-1-rgb: 255, 255, 255;
  --med-color-aulas-contrast-2-rgb: 0, 0, 0;
  --med-color-aulas-1-rgb: 10, 92, 75;
  --med-color-aulas-2-rgb: 15, 138, 113;
  --med-color-aulas-3-rgb: 20, 184, 151;
  --med-color-aulas-4-rgb: 71, 235, 202;
  --med-color-aulas-5-rgb: 163, 245, 228;
  --med-color-gradient: var(--med-color-aulas-gradient, linear-gradient(to right, #14b897, #0a5c4b));
  --med-color-material-contrast-1: #fff;
  --med-color-material-contrast-2: #000;
  --med-color-material-1: #5c2b0a;
  --med-color-material-2: #8a400f;
  --med-color-material-3: #b85614;
  --med-color-material-4: #eb8947;
  --med-color-material-5: #f5c4a3;
  --med-color-material-contrast-1-rgb: 255, 255, 255;
  --med-color-material-contrast-2-rgb: 0, 0, 0;
  --med-color-material-1-rgb: 92, 43, 10;
  --med-color-material-2-rgb: 138, 64, 15;
  --med-color-material-3-rgb: 184, 86, 20;
  --med-color-material-4-rgb: 235, 137, 71;
  --med-color-material-5-rgb: 245, 196, 163;
  --med-color-gradient: var(--med-color-material-gradient, linear-gradient(to right, #b85614, #5c2b0a));
  --med-color-questoes-contrast-1: #fff;
  --med-color-questoes-contrast-2: #000;
  --med-color-questoes-1: #0a415c;
  --med-color-questoes-2: #0f618a;
  --med-color-questoes-3: #1481b8;
  --med-color-questoes-4: #47b4eb;
  --med-color-questoes-5: #a3daf5;
  --med-color-questoes-contrast-1-rgb: 255, 255, 255;
  --med-color-questoes-contrast-2-rgb: 0, 0, 0;
  --med-color-questoes-1-rgb: 10, 65, 92;
  --med-color-questoes-2-rgb: 15, 97, 138;
  --med-color-questoes-3-rgb: 20, 129, 184;
  --med-color-questoes-4-rgb: 71, 180, 235;
  --med-color-questoes-5-rgb: 163, 218, 245;
  --med-color-gradient: var(--med-color-questoes-gradient, linear-gradient(to right, #1481b8, #0a415c));
  --med-color-revalida-contrast-1: #fff;
  --med-color-revalida-contrast-2: #000;
  --med-color-revalida-1: #5c0a23;
  --med-color-revalida-2: #8a0f34;
  --med-color-revalida-3: #b81445;
  --med-color-revalida-4: #eb4778;
  --med-color-revalida-5: #f5a3bc;
  --med-color-revalida-contrast-1-rgb: 255, 255, 255;
  --med-color-revalida-contrast-2-rgb: 0, 0, 0;
  --med-color-revalida-1-rgb: 92, 10, 35;
  --med-color-revalida-2-rgb: 138, 15, 52;
  --med-color-revalida-3-rgb: 184, 20, 69;
  --med-color-revalida-4-rgb: 235, 71, 120;
  --med-color-revalida-5-rgb: 245, 163, 188;
  --med-color-gradient: var(--med-color-revalida-gradient, linear-gradient(to right, #b81445, #5c0a23));
  --med-color-provas-contrast-1: #fff;
  --med-color-provas-contrast-2: #000;
  --med-color-provas-1: #300a5c;
  --med-color-provas-2: #480f8a;
  --med-color-provas-3: #6114b8;
  --med-color-provas-4: #9447eb;
  --med-color-provas-5: #c9a3f5;
  --med-color-provas-contrast-1-rgb: 255, 255, 255;
  --med-color-provas-contrast-2-rgb: 0, 0, 0;
  --med-color-provas-1-rgb: 48, 10, 92;
  --med-color-provas-2-rgb: 72, 15, 138;
  --med-color-provas-3-rgb: 97, 20, 184;
  --med-color-provas-4-rgb: 148, 71, 235;
  --med-color-provas-5-rgb: 201, 163, 245;
  --med-color-gradient: var(--med-color-provas-gradient, linear-gradient(to right, #6114b8, #300a5c));
  --med-color-success-contrast-1: #000;
  --med-color-success-contrast-2: #000;
  --med-color-success-1: #47eb5d;
  --med-color-success-2: #47eb5d;
  --med-color-success-3: #47eb5d;
  --med-color-success-4: #47eb5d;
  --med-color-success-5: #47eb5d;
  --med-color-success-contrast-1-rgb: 0, 0, 0;
  --med-color-success-contrast-2-rgb: 0, 0, 0;
  --med-color-success-1-rgb: 71, 235, 93;
  --med-color-success-2-rgb: 71, 235, 93;
  --med-color-success-3-rgb: 71, 235, 93;
  --med-color-success-4-rgb: 71, 235, 93;
  --med-color-success-5-rgb: 71, 235, 93;
  --med-color-gradient: var(--med-color-success-gradient, linear-gradient(to right, #394446, #677b7e));
  --med-color-warning-contrast-1: #fff;
  --med-color-warning-contrast-2: #000;
  --med-color-warning-1: #ebbc47;
  --med-color-warning-2: #ebbc47;
  --med-color-warning-3: #ebbc47;
  --med-color-warning-4: #ebbc47;
  --med-color-warning-5: #ebbc47;
  --med-color-warning-contrast-1-rgb: 255, 255, 255;
  --med-color-warning-contrast-2-rgb: 0, 0, 0;
  --med-color-warning-1-rgb: 235, 188, 71;
  --med-color-warning-2-rgb: 235, 188, 71;
  --med-color-warning-3-rgb: 235, 188, 71;
  --med-color-warning-4-rgb: 235, 188, 71;
  --med-color-warning-5-rgb: 235, 188, 71;
  --med-color-gradient: var(--med-color-warning-gradient, linear-gradient(to right, #394446, #677b7e));
  --med-color-caution-contrast-1: #fff;
  --med-color-caution-contrast-2: #000;
  --med-color-caution-1: #ed685e;
  --med-color-caution-2: #ed685e;
  --med-color-caution-3: #ed685e;
  --med-color-caution-4: #ed685e;
  --med-color-caution-5: #ed685e;
  --med-color-caution-contrast-1-rgb: 255, 255, 255;
  --med-color-caution-contrast-2-rgb: 0, 0, 0;
  --med-color-caution-1-rgb: 237, 104, 94;
  --med-color-caution-2-rgb: 237, 104, 94;
  --med-color-caution-3-rgb: 237, 104, 94;
  --med-color-caution-4-rgb: 237, 104, 94;
  --med-color-caution-5-rgb: 237, 104, 94;
  --med-color-gradient: var(--med-color-caution-gradient, linear-gradient(to right, #b9c4c6, #f1f3f4));
}

.ion-color-brand {
  --med-color-contrast-1: var(--med-color-brand-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-brand-contrast-2, #000);
  --med-color-1: var(--med-color-brand-1, #0a515c);
  --med-color-2: var(--med-color-brand-2, #0f798a);
  --med-color-3: var(--med-color-brand-3, #14a2b8);
  --med-color-4: var(--med-color-brand-4, #47d5eb);
  --med-color-5: var(--med-color-brand-5, #a3eaf5);
  --med-color-contrast-1-rgb: var(--med-color-brand-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-brand-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-brand-1-rgb, 10, 81, 92);
  --med-color-2-rgb: var(--med-color-brand-2-rgb, 15, 121, 138);
  --med-color-3-rgb: var(--med-color-brand-3-rgb, 20, 162, 184);
  --med-color-4-rgb: var(--med-color-brand-4-rgb, 71, 213, 235);
  --med-color-5-rgb: var(--med-color-brand-5-rgb, 163, 234, 245);
  --med-color-gradient: var(--med-color-brand-gradient, linear-gradient(to right, #14a2b8, #0a515c));
}

.ion-color-aulas {
  --med-color-contrast-1: var(--med-color-aulas-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-aulas-contrast-2, #000);
  --med-color-1: var(--med-color-aulas-1, #0a5c4b);
  --med-color-2: var(--med-color-aulas-2, #0f8a71);
  --med-color-3: var(--med-color-aulas-3, #14b897);
  --med-color-4: var(--med-color-aulas-4, #47ebca);
  --med-color-5: var(--med-color-aulas-5, #a3f5e4);
  --med-color-contrast-1-rgb: var(--med-color-aulas-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-aulas-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-aulas-1-rgb, 10, 92, 75);
  --med-color-2-rgb: var(--med-color-aulas-2-rgb, 15, 138, 113);
  --med-color-3-rgb: var(--med-color-aulas-3-rgb, 20, 184, 151);
  --med-color-4-rgb: var(--med-color-aulas-4-rgb, 71, 235, 202);
  --med-color-5-rgb: var(--med-color-aulas-5-rgb, 163, 245, 228);
  --med-color-gradient: var(--med-color-aulas-gradient, linear-gradient(to right, #14b897, #0a5c4b));
}

.ion-color-material {
  --med-color-contrast-1: var(--med-color-material-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-material-contrast-2, #000);
  --med-color-1: var(--med-color-material-1, #5c2b0a);
  --med-color-2: var(--med-color-material-2, #8a400f);
  --med-color-3: var(--med-color-material-3, #b85614);
  --med-color-4: var(--med-color-material-4, #eb8947);
  --med-color-5: var(--med-color-material-5, #f5c4a3);
  --med-color-contrast-1-rgb: var(--med-color-material-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-material-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-material-1-rgb, 92, 43, 10);
  --med-color-2-rgb: var(--med-color-material-2-rgb, 138, 64, 15);
  --med-color-3-rgb: var(--med-color-material-3-rgb, 184, 86, 20);
  --med-color-4-rgb: var(--med-color-material-4-rgb, 235, 137, 71);
  --med-color-5-rgb: var(--med-color-material-5-rgb, 245, 196, 163);
  --med-color-gradient: var(--med-color-material-gradient, linear-gradient(to right, #b85614, #5c2b0a));
}

.ion-color-questoes {
  --med-color-contrast-1: var(--med-color-questoes-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-questoes-contrast-2, #000);
  --med-color-1: var(--med-color-questoes-1, #0a415c);
  --med-color-2: var(--med-color-questoes-2, #0f618a);
  --med-color-3: var(--med-color-questoes-3, #1481b8);
  --med-color-4: var(--med-color-questoes-4, #47b4eb);
  --med-color-5: var(--med-color-questoes-5, #a3daf5);
  --med-color-contrast-1-rgb: var(--med-color-questoes-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-questoes-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-questoes-1-rgb, 10, 65, 92);
  --med-color-2-rgb: var(--med-color-questoes-2-rgb, 15, 97, 138);
  --med-color-3-rgb: var(--med-color-questoes-3-rgb, 20, 129, 184);
  --med-color-4-rgb: var(--med-color-questoes-4-rgb, 71, 180, 235);
  --med-color-5-rgb: var(--med-color-questoes-5-rgb, 163, 218, 245);
  --med-color-gradient: var(--med-color-questoes-gradient, linear-gradient(to right, #1481b8, #0a415c));
}

.ion-color-revalida {
  --med-color-contrast-1: var(--med-color-revalida-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-revalida-contrast-2, #000);
  --med-color-1: var(--med-color-revalida-1, #5c0a23);
  --med-color-2: var(--med-color-revalida-2, #8a0f34);
  --med-color-3: var(--med-color-revalida-3, #b81445);
  --med-color-4: var(--med-color-revalida-4, #eb4778);
  --med-color-5: var(--med-color-revalida-5, #f5a3bc);
  --med-color-contrast-1-rgb: var(--med-color-revalida-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-revalida-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-revalida-1-rgb, 92, 10, 35);
  --med-color-2-rgb: var(--med-color-revalida-2-rgb, 138, 15, 52);
  --med-color-3-rgb: var(--med-color-revalida-3-rgb, 184, 20, 69);
  --med-color-4-rgb: var(--med-color-revalida-4-rgb, 235, 71, 120);
  --med-color-5-rgb: var(--med-color-revalida-5-rgb, 245, 163, 188);
  --med-color-gradient: var(--med-color-revalida-gradient, linear-gradient(to right, #b81445, #5c0a23));
}

.ion-color-provas {
  --med-color-contrast-1: var(--med-color-provas-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-provas-contrast-2, #000);
  --med-color-1: var(--med-color-provas-1, #300a5c);
  --med-color-2: var(--med-color-provas-2, #480f8a);
  --med-color-3: var(--med-color-provas-3, #6114b8);
  --med-color-4: var(--med-color-provas-4, #9447eb);
  --med-color-5: var(--med-color-provas-5, #c9a3f5);
  --med-color-contrast-1-rgb: var(--med-color-provas-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-provas-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-provas-1-rgb, 48, 10, 92);
  --med-color-2-rgb: var(--med-color-provas-2-rgb, 72, 15, 138);
  --med-color-3-rgb: var(--med-color-provas-3-rgb, 97, 20, 184);
  --med-color-4-rgb: var(--med-color-provas-4-rgb, 148, 71, 235);
  --med-color-5-rgb: var(--med-color-provas-5-rgb, 201, 163, 245);
  --med-color-gradient: var(--med-color-provas-gradient, linear-gradient(to right, #6114b8, #300a5c));
}

.ion-color-success {
  --med-color-contrast-1: var(--med-color-success-contrast-1, #000);
  --med-color-contrast-2: var(--med-color-success-contrast-2, #000);
  --med-color-1: var(--med-color-success-1, #47eb5d);
  --med-color-2: var(--med-color-success-2, #47eb5d);
  --med-color-3: var(--med-color-success-3, #47eb5d);
  --med-color-4: var(--med-color-success-4, #47eb5d);
  --med-color-5: var(--med-color-success-5, #47eb5d);
  --med-color-contrast-1-rgb: var(--med-color-success-contrast-1-rgb, 0, 0, 0);
  --med-color-contrast-2-rgb: var(--med-color-success-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-success-1-rgb, 71, 235, 93);
  --med-color-2-rgb: var(--med-color-success-2-rgb, 71, 235, 93);
  --med-color-3-rgb: var(--med-color-success-3-rgb, 71, 235, 93);
  --med-color-4-rgb: var(--med-color-success-4-rgb, 71, 235, 93);
  --med-color-5-rgb: var(--med-color-success-5-rgb, 71, 235, 93);
  --med-color-gradient: var(--med-color-success-gradient, linear-gradient(to right, #394446, #677b7e));
}

.ion-color-warning {
  --med-color-contrast-1: var(--med-color-warning-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-warning-contrast-2, #000);
  --med-color-1: var(--med-color-warning-1, #ebbc47);
  --med-color-2: var(--med-color-warning-2, #ebbc47);
  --med-color-3: var(--med-color-warning-3, #ebbc47);
  --med-color-4: var(--med-color-warning-4, #ebbc47);
  --med-color-5: var(--med-color-warning-5, #ebbc47);
  --med-color-contrast-1-rgb: var(--med-color-warning-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-warning-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-warning-1-rgb, 235, 188, 71);
  --med-color-2-rgb: var(--med-color-warning-2-rgb, 235, 188, 71);
  --med-color-3-rgb: var(--med-color-warning-3-rgb, 235, 188, 71);
  --med-color-4-rgb: var(--med-color-warning-4-rgb, 235, 188, 71);
  --med-color-5-rgb: var(--med-color-warning-5-rgb, 235, 188, 71);
  --med-color-gradient: var(--med-color-warning-gradient, linear-gradient(to right, #394446, #677b7e));
}

.ion-color-caution {
  --med-color-contrast-1: var(--med-color-caution-contrast-1, #fff);
  --med-color-contrast-2: var(--med-color-caution-contrast-2, #000);
  --med-color-1: var(--med-color-caution-1, #ed685e);
  --med-color-2: var(--med-color-caution-2, #ed685e);
  --med-color-3: var(--med-color-caution-3, #ed685e);
  --med-color-4: var(--med-color-caution-4, #ed685e);
  --med-color-5: var(--med-color-caution-5, #ed685e);
  --med-color-contrast-1-rgb: var(--med-color-caution-contrast-1-rgb, 255, 255, 255);
  --med-color-contrast-2-rgb: var(--med-color-caution-contrast-2-rgb, 0, 0, 0);
  --med-color-1-rgb: var(--med-color-caution-1-rgb, 237, 104, 94);
  --med-color-2-rgb: var(--med-color-caution-2-rgb, 237, 104, 94);
  --med-color-3-rgb: var(--med-color-caution-3-rgb, 237, 104, 94);
  --med-color-4-rgb: var(--med-color-caution-4-rgb, 237, 104, 94);
  --med-color-5-rgb: var(--med-color-caution-5-rgb, 237, 104, 94);
  --med-color-gradient: var(--med-color-caution-gradient, linear-gradient(to right, #b9c4c6, #f1f3f4));
}

.med-neutral-1 {
  --med-neutral: var(--med-neutral-1, #0b0e0e) !important;
  --med-neutral-rgb: var(--med-neutral-1-rgb, 11, 14, 14) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}

.med-neutral-2 {
  --med-neutral: var(--med-neutral-2, #22292a) !important;
  --med-neutral-rgb: var(--med-neutral-2-rgb, 34, 41, 42) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}

.med-neutral-3 {
  --med-neutral: var(--med-neutral-3, #394446) !important;
  --med-neutral-rgb: var(--med-neutral-3-rgb, 57, 68, 70) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}

.med-neutral-4 {
  --med-neutral: var(--med-neutral-4, #506062) !important;
  --med-neutral-rgb: var(--med-neutral-4-rgb, 80, 96, 98) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}

.med-neutral-5 {
  --med-neutral: var(--med-neutral-5, #677b7e) !important;
  --med-neutral-rgb: var(--med-neutral-5-rgb, 103, 123, 126) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}

.med-neutral-6 {
  --med-neutral: var(--med-neutral-6, #819598) !important;
  --med-neutral-rgb: var(--med-neutral-6-rgb, 129, 149, 152) !important;
  --med-neutral-contrast: #fff !important;
  --med-neutral-contrast-rgb: 255, 255, 255 !important;
}

.med-neutral-7 {
  --med-neutral: var(--med-neutral-7, #9dacaf) !important;
  --med-neutral-rgb: var(--med-neutral-7-rgb, 157, 172, 175) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}

.med-neutral-8 {
  --med-neutral: var(--med-neutral-8, #b9c4c6) !important;
  --med-neutral-rgb: var(--med-neutral-8-rgb, 185, 196, 198) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}

.med-neutral-9 {
  --med-neutral: var(--med-neutral-9, #d5dcdd) !important;
  --med-neutral-rgb: var(--med-neutral-9-rgb, 213, 220, 221) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}

.med-neutral-10 {
  --med-neutral: var(--med-neutral-10, #f1f3f4) !important;
  --med-neutral-rgb: var(--med-neutral-10-rgb, 241, 243, 244) !important;
  --med-neutral-contrast: #000 !important;
  --med-neutral-contrast-rgb: 0, 0, 0 !important;
}

/*# sourceMappingURL=medsoft.css.map */
