* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'fsemeric';
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--med-color-neutral-2));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--med-color-neutral-4));
  border-radius: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: hsl(var(--med-color-neutral-1));
}

ion-picker {
  position: fixed !important;
}

ion-datetime,
ion-select {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  padding: 64px 100px 100px;

  @include breakpoint-down('xl') {
    padding: 64px 80px 80px;
  }

  @include breakpoint-down('lg') {
    padding: 64px 72px 72px;
  }

  @include breakpoint-down('md') {
    padding: 64px;
  }

  @include breakpoint-down('sm') {
    padding: 48px 32px;
  }
}

.header {
  padding: 24px 100px;

  @include breakpoint-down('xl') {
    padding: 24px 80px;
  }

  @include breakpoint-down('lg') {
    padding: 24px 72px;
  }

  @include breakpoint-down('md') {
    padding: 24px 64px;
  }

  @include breakpoint-down('sm') {
    padding: 24px 32px;
  }
}

.footer {
  padding: 36px 100px 144px;

  @include breakpoint-down('xl') {
    padding: 36px 80px 112px;
  }

  @include breakpoint-down('lg') {
    padding: 36px 72px 100px;
  }

  @include breakpoint-down('md') {
    padding: 36px 64px 72px;
  }

  @include breakpoint-down('sm') {
    padding: 36px 32px 48px;
  }
}
