// display
.d-inline {
  display: inline !important;
}

.d-flex {
  display: flex !important;
}

// alignment
.align-items-center {
  align-items: center !important;
}

// gap
.gap-18 {
  gap: 18px !important;
}

.gap-24 {
  gap: 24px !important;
}

// flex
.flex-size-fixed {
  flex: 0 0 auto;
}

// color
.color-brand-4 {
  color: hsl(var(--med-color-brand-4)) !important;
}

.color-neutral-8 {
  color: hsl(var(--med-color-neutral-8)) !important;
}

.color-neutral-10 {
  color: hsl(var(--med-color-neutral-10)) !important;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

// list item related
.ordered-inside {
  list-style-position: inside;
}

// paddings
.p-0 {
  padding: 0 !important;
}

.p-24 {
  padding: 24px !important;
}

.py-10 {
  padding: 10px 0 !important;
}

.py-24 {
  padding: 24px 0 !important;
}

.py-64 {
  padding: 64px 0 !important;
}

// margins
.mt-24 {
  margin-top: 24px !important;
}

.mt-64 {
  margin-top: 64px !important;
}

.mt-88 {
  margin-top: 88px !important;
}

.mb-64 {
  margin-bottom: 64px !important;
}

.mb-88 {
  margin-top: 88px !important;
}

.backdrop-no-scroll {
  overflow: hidden !important;
}

// border
.no-border {
  border: none;
}
