ion-content {
  --background: hsl(var(--med-color-neutral-1)) !important;
  height: 100%;
}

.ion-page {
  background: hsl(var(--med-color-neutral-1));
}

.subheader {
  background: hsl(var(--med-color-neutral-2));
}
.subheader--subtitle .subheader__content {
  padding: 8px 40px;
}
@media (max-width: 575.98px) {
  .subheader--subtitle .subheader__content {
    padding: 8px 24px;
  }
}
.subheader__content {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .subheader__content {
    padding: 16px 24px;
  }
}

.ano {
  background: hsl(var(--med-color-neutral-25));
  display: block;
  text-align: center;
  padding: 16px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.ano--concursos {
  top: -16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin: 0 auto;
  padding: 32px 40px;
  max-width: 1096px;
}
.grid__tiles {
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575.98px) {
  .container--resumo-simulado {
    height: calc(100vh - 128px);
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 24px;
  }
}
.erratas {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.erratas__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 32px 40px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .erratas__content {
    padding: 24px;
  }
}
.erratas__icon {
  height: 64px;
  width: 64px;
  margin-bottom: 24px;
  stroke: hsl(var(--med-color-neutral-10));
  fill: transparent;
}
.erratas__text {
  text-transform: uppercase;
}

.medcode {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.medcode__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 32px 40px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .medcode__content {
    padding: 24px;
  }
}
.medcode__text {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.medcode__button {
  width: 130px !important;
  height: 130px;
}
.medcode__button .med-icon {
  width: 90px;
  height: 90px;
}

.medcode-video {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.medcode-video__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 40px;
  max-width: 1096px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .medcode-video__content {
    padding: 24px;
  }
}
.medcode-video__player {
  width: 100%;
  height: 70%;
  background: hsl(var(--med-color-neutral-3));
}

.aulas {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.aulas__content {
  margin: 0 auto;
  padding: 32px 40px 64px;
  width: 100%;
  max-width: 1096px;
}
@media (max-width: 575.98px) {
  .aulas__content {
    padding: 24px 24px 40px;
  }
}
.aulas__item {
  flex-direction: column;
}
.aulas__item:not(:last-child) {
  margin-bottom: 24px;
}
.aulas__item--avaliando .aulas__observacao-container {
  display: block;
}
.aulas__item--avaliando .aulas__button {
  display: none;
}
.aulas__item--avaliando .aulas__button--avaliar {
  display: inline-block;
}
.aulas__item--avaliada .aulas__middle {
  display: none;
}
.aulas__item--avaliada .aulas__button {
  display: none;
}
.aulas__item--avaliada .aulas__image {
  display: block;
}
.aulas__top {
  display: flex;
  margin-bottom: 16px;
}
.aulas__avatar {
  margin-right: 16px;
}
.aulas__text-container {
  display: flex;
  flex-direction: column;
}
.aulas__middle {
  margin-bottom: 16px;
  padding: 0 !important;
}
.aulas__avaliar-container {
  display: flex;
}
.aulas__button-avaliar {
  flex: 1;
}
.aulas__button-avaliar:not(:last-child) {
  margin-right: 8px;
}
.aulas__observacao-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  display: none;
}
.aulas__erro {
  margin-top: 8px;
}
.aulas__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aulas__button--avaliar {
  display: none;
}
.aulas__image {
  max-width: 100px;
  max-height: 100px;
  display: none;
  margin-left: auto;
}

.slide-de-aula {
  padding: 16px;
  height: calc(100% - 104px);
  overflow: scroll;
}
.slide-de-aula__item {
  --inner-padding-end: 0px;
  --min-height: 32px;
  margin-bottom: 8px;
}
.slide-de-aula__text {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-transform: uppercase;
}

.accordion {
  --align-items: center;
  overflow: hidden;
}
.accordion__title {
  text-transform: uppercase;
}

.materia__ano {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: hsl(var(--med-color-neutral-25));
}
.materia__list-container {
  display: flex;
  align-items: center;
}
.materia__list-container:not(:last-child) {
  border-bottom: 1px solid hsl(var(--med-color-neutral-3));
}
.materia__list-container:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.materia__item-left {
  flex: 0 25%;
  text-align: right;
  border-right: 1px solid hsl(var(--med-color-neutral-3));
}
.materia__item-right {
  flex: 0 75%;
}
.materia__codigo {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}
.materia__descricao {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}

.product-select {
  display: flex;
  align-items: center;
}
.product-select__logo-container {
  background: hsl(var(--med-color-neutral-2));
  border-radius: 8px;
  padding: 4px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 16px;
}
.product-select__logo {
  min-height: 32px;
  min-width: 32px;
}
.product-select__text {
  text-transform: uppercase;
}

.slides {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.slides__content {
  margin: 0 auto;
  padding: 32px 40px;
  width: 100%;
  height: 100%;
  max-width: 1096px;
}
@media (max-width: 575.98px) {
  .slides__content {
    padding: 24px;
  }
}
.slides__container {
  height: 95%;
}
.slides .swiper-pagination {
  display: none;
}
.slides__contador {
  text-align: center;
  margin-top: 8px;
}

.simulados {
  --background: hsl(var(--med-color-neutral-15)) !important;
}

.resumo-top__button {
  margin: 0 auto;
}

.resumo {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.resumo__container {
  margin: 0 auto;
  padding: 32px 40px;
  width: 100%;
  max-width: 1096px;
}
@media (max-width: 575.98px) {
  .resumo__container {
    padding: 24px;
  }
}
.resumo__classificacao {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .resumo__classificacao {
    flex-direction: column;
  }
}
.resumo__linha {
  display: flex;
  align-items: center;
}
.resumo__opcoes {
  margin: 0;
  height: 16px;
}
.resumo__range-container {
  display: flex;
  position: relative;
  align-items: center;
  margin: 40px 0 48px;
  padding: 4px 0;
}
.resumo__range-container .med-icon {
  stroke: hsl(var(--med-color-neutral-10));
}
.resumo__progress {
  position: relative;
  flex: 1;
}
.resumo__icon {
  min-width: 24px;
  min-height: 24px;
  stroke: hsl(var(--med-color-neutral-10));
  fill: transparent;
}
.resumo__icon--start {
  margin-right: 16px;
}
.resumo__icon--end {
  margin-left: 16px;
}
.resumo__posicao-container {
  display: flex;
  position: absolute;
  top: -20px;
  left: calc(var(--porcentagem) * 1%);
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  min-width: 80px;
}
.resumo__posicao {
  margin-bottom: 14px;
}
.resumo__sua-nota {
  text-transform: uppercase;
}
.resumo__participantes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.resumo__questoes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resumo__button {
  margin: 0 auto;
}

.resumo-bottom__modo-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .resumo-bottom__modo-container {
    flex-direction: column;
  }
}
.resumo-bottom__modo:not(:last-child) {
  margin-right: 16px;
}
@media (max-width: 575.98px) {
  .resumo-bottom__modo:not(:last-child) {
    margin-right: 0;
  }
}

.concursos-resultados {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.concursos-resultados__content {
  padding: 0 0 64px;
}
@media (max-width: 575.98px) {
  .concursos-resultados__content {
    padding: 0 0 40px;
  }
}

.concursos-desempenho {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.concursos-desempenho__content {
  padding: 32px 40px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .concursos-desempenho__content {
    padding: 24px;
  }
}
.concursos-desempenho__title {
  padding: 16px;
  text-align: center;
}
.concursos-desempenho__questoes {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .concursos-desempenho__questoes {
    margin-bottom: 24px;
  }
}
.concursos-desempenho__subheader {
  text-align: center;
  display: flex;
  justify-content: center;
}
.concursos-desempenho__button-bottom {
  text-align: center;
}

.list-concursos__header {
  margin-bottom: 8px;
}
.list-concursos__text-left {
  max-width: 64px;
  text-align: center;
}
.list-concursos__text-left--especialidade {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}
.list-concursos__text-middle {
  padding: 0 16px;
  min-width: 170px;
  width: 100%;
}
.list-concursos__text-middle--especialidade {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
}
.list-concursos__especialidade:not(:last-child) {
  margin-bottom: 8px;
}

.concursos-desempenho-bottom {
  background: hsl(var(--med-color-neutral-15));
  text-align: center;
}

.input-concursos {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .input-concursos {
    padding: 16px 24px;
  }
}
.input-concursos--desempenho {
  padding: 32px 0;
}
@media (max-width: 575.98px) {
  .input-concursos--desempenho {
    padding: 24px 0;
  }
}
.input-concursos .med-icon {
  width: 24px;
  height: 24px;
  stroke: hsl(var(--med-color-neutral-10));
  margin-right: 16px;
}

.concursos-buscar {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.concursos-buscar__middle {
  height: 100%;
  width: 100%;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1096px;
  margin: 0 auto;
}
.concursos-buscar__middle .med-icon {
  width: 64px;
  height: 64px;
  stroke: hsl(var(--med-color-neutral-10));
}
.concursos-buscar__text {
  margin-top: 8px;
  text-align: center;
}

.concursos-pesquisa {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.concursos-pesquisa__content {
  padding: 32px 40px 64px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .concursos-pesquisa__content {
    padding: 24px 24px 40px;
  }
}
.concursos-pesquisa__tiles {
  cursor: pointer;
}
.concursos-pesquisa__tiles:not(:last-child) {
  margin-bottom: 16px;
}

.button-filter {
  position: relative;
}
.button-filter--aplicado .button-filter__circle {
  display: block;
}
.button-filter__circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: hsl(var(--med-color-brand-3));
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
}

.button-like {
  position: relative;
}
.button-like__span {
  position: absolute;
  top: 4px;
  right: 2px;
}

.button-quantidade--zero .button-quantidade__span {
  display: none;
}
.button-quantidade__span {
  background: hsl(var(--med-color-neutral-10));
  color: hsl(var(--med-color-neutral-1));
  margin-left: 8px;
  margin-right: -4px;
  padding: 2px 8px;
  border-radius: 100px;
}

.card-duvidas {
  background: hsl(var(--med-color-neutral-2));
  border-radius: 8px;
  overflow: hidden;
}
.card-duvidas--minha .card-duvidas__badge {
  display: block;
}
.card-duvidas--mostra-pergunta .card-duvidas__middle {
  height: auto;
  min-height: 90px;
}
.card-duvidas--menos-informacao .card-duvidas__questao, .card-duvidas--menos-informacao .card-duvidas__numero {
  display: none;
}
.card-duvidas--resposta-oficial .card-duvidas__tolltip-imagem {
  display: block;
}
.card-duvidas__top {
  padding: 16px;
  position: relative;
}
.card-duvidas__questao {
  color: hsl(var(--med-color-brand-4));
  margin-bottom: 16px;
  display: block;
}
.card-duvidas__informacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 85px;
}
.card-duvidas__context {
  align-self: flex-end;
}
.card-duvidas__identificacao {
  display: flex;
  align-items: center;
}
.card-duvidas__avatar {
  margin-right: 16px;
}
.card-duvidas__dados {
  display: flex;
  flex-direction: column;
}
.card-duvidas__badge {
  margin-bottom: 4px;
  display: none;
}
.card-duvidas__numero {
  margin-top: 4px;
  display: block;
}
.card-duvidas__tolltip-imagem {
  position: absolute;
  top: -20px;
  right: -8px;
  width: 75px;
  height: 75px;
  display: none;
}
.card-duvidas__tolltip-imagem .med-tooltip__content {
  top: 75% !important;
}
@media (max-width: 575.98px) {
  .card-duvidas__tolltip-imagem .med-tooltip__content {
    top: 85% !important;
  }
}
@media (max-width: 575.98px) {
  .card-duvidas .med-tooltip__content {
    --min-width: 200px;
    --max-width: 200px;
  }
}
.card-duvidas__imagem {
  width: 100%;
  height: 100%;
}
.card-duvidas__middle {
  padding: 0 16px 16px 16px;
  height: 90px;
  overflow: hidden;
}
.card-duvidas__bottom {
  background: hsl(var(--med-color-neutral-25));
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .card-duvidas__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.card-duvidas__bottom-left {
  display: flex;
  align-items: center;
}
.card-duvidas__favorito {
  margin-right: 8px;
}
.card-duvidas__like {
  margin-right: 8px;
}
@media (max-width: 575.98px) {
  .card-duvidas__quantidade {
    align-self: flex-end;
  }
}

.card-resposta {
  background: hsl(var(--med-color-neutral-25));
  border-radius: 8px;
  padding: 16px;
}
.card-resposta--resposta-oficial .card-resposta__badge {
  display: block;
}
.card-resposta--check .card-resposta__imagem {
  display: block;
}
.card-resposta--comentar .card-resposta__comentar {
  display: flex;
}
.card-resposta__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}
.card-resposta__identificacao {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.card-resposta__imagem {
  width: 70px;
  height: 70px;
  display: none;
  position: absolute;
  top: -16px;
  right: 40%;
}
.card-resposta__top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.card-resposta__badge {
  display: none;
  margin-left: 16px;
}
.card-resposta__middle {
  margin-bottom: 8px;
}
.card-resposta__bottom {
  display: flex;
  flex-direction: column;
}
.card-resposta__button-container {
  display: flex;
  align-items: center;
}
.card-resposta__like {
  margin-right: 8px;
}
.card-resposta__comentar {
  flex-direction: column;
  justify-content: center;
  display: none;
  margin-top: 8px;
}

.duvidas-tab {
  max-width: initial;
}

.duvidas {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.duvidas__content {
  padding: 32px 40px 64px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 575.98px) {
  .duvidas__content {
    padding: 24px 24px 40px;
  }
}
.duvidas__card:not(:last-child) {
  margin-bottom: 24px;
}
.duvidas__button {
  --background: hsl(var(--med-color-brand-1));
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.med-context-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.med-context-menu__item {
  padding-right: 16px;
  display: flex;
  align-items: center;
  transition: color 300ms ease-out;
  cursor: pointer;
}
.med-context-menu__item:not(:last-child) {
  margin-bottom: 16px;
}

.med-context-menu__item:hover {
  color: hsl(var(--med-color-neutral-1));
}

.med-context-menu__icon {
  width: 24px;
  margin-right: 8px;
  stroke: hsl(var(--med-color-neutral-10));
}

.questao {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.questao__content {
  padding: 32px 40px 64px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 575.98px) {
  .questao__content {
    padding: 24px 24px 40px;
  }
}
.questao__title {
  display: block;
  margin-bottom: 4px;
}
.questao__subtitle {
  display: block;
  margin-bottom: 16px;
}
.questao__question {
  margin-bottom: 16px;
}
.questao__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.questao__card-duvidas {
  margin-bottom: 24px;
}
.questao__card-resposta:not(:last-child) {
  margin-bottom: 24px;
}
.questao__encaminhar {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.med-context-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.med-context-menu__item {
  padding-right: 16px;
  display: flex;
  align-items: center;
  transition: color 300ms ease-out;
  cursor: pointer;
}
.med-context-menu__item:not(:last-child) {
  margin-bottom: 16px;
}

.med-context-menu__item:hover {
  color: hsl(var(--med-color-neutral-1));
}

.med-context-menu__icon {
  width: 24px;
  margin-right: 8px;
  stroke: hsl(var(--med-color-neutral-10));
}

.question {
  border-radius: 8px;
}
.question__container {
  padding: 16px 8px 8px 8px;
}
.question__text-container {
  margin-bottom: 16px;
}
.question__subtitle {
  display: block;
}
.question__subtitle:not(:last-child) {
  margin-bottom: 4px;
}
.question__text {
  display: block;
}
.question__text:not(:last-child) {
  margin-bottom: 8px;
}
.question__alternativas {
  margin-bottom: 16px;
}
.question__video-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.question__thumbnail {
  --width: 80% !important;
  --height: auto !important;
  align-self: center;
}

.duvidas-tab {
  max-width: initial;
}

.sem-duvidas {
  --background: hsl(var(--med-color-neutral-15)) !important;
}
.sem-duvidas__content {
  padding: 32px 40px 64px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 575.98px) {
  .sem-duvidas__content {
    padding: 24px 24px 40px;
  }
}
.sem-duvidas .med-icon {
  min-width: 64px;
  min-height: 64px;
  stroke: hsl(var(--med-color-neutral-10));
  margin-bottom: 24px;
}
.sem-duvidas__text {
  text-align: center;
}

.busca-apostila {
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.busca-apostila--open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.busca-apostila--open .busca-apostila__close {
  cursor: pointer;
  pointer-events: initial;
}
.busca-apostila--historico {
  position: absolute;
  top: 0;
  height: initial;
  z-index: 10;
}
.busca-apostila--dark .busca-apostila__search {
  background: hsl(var(--med-color-neutral-15));
}
.busca-apostila__search {
  padding: 16px;
  display: flex;
  align-items: center;
  background: hsl(var(--med-color-neutral-10));
}
.busca-apostila__icon {
  stroke: hsl(var(--med-color-brand-2));
}
.busca-apostila__input {
  margin: 0 16px;
}
.busca-apostila__close {
  pointer-events: none;
}
.busca-apostila__resultados {
  height: 100%;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
.busca-apostila__resultados--open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.busca-apostila__nao-encontrado {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.busca-apostila__icon-erro {
  height: 48px;
  width: 48px;
  margin-bottom: 24px;
}
.busca-apostila__encontrado {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 32px 40px;
  max-width: 1096px;
  overflow: scroll;
}
@media (max-width: 575.98px) {
  .busca-apostila__encontrado {
    padding: 24px;
  }
}
.busca-apostila__item {
  --border-radius: 8px;
  --inner-padding-end: 0;
  cursor: pointer;
}
.busca-apostila__item:not(:last-child) {
  margin-bottom: 8px;
}
.busca-apostila__container-text {
  display: flex;
  flex-direction: column;
}
.busca-apostila__capitulo {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  margin-bottom: 8px !important;
}
.busca-apostila__text {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  display: -webkit-box !important;
  max-width: inherit;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.color-select {
  display: flex;
  align-items: center;
}
.color-select__cor {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  margin-right: 8px;
  cursor: pointer;
}
.color-select__cor--warning {
  background: hsl(var(--med-color-fb-warning));
}
.color-select__cor--attention {
  background: hsl(var(--med-color-fb-attention));
}
.color-select__cor--success {
  background: hsl(var(--med-color-fb-success));
}
.color-select__cor--brand {
  background: hsl(var(--med-color-brand-4));
}

.historico {
  --background: hsl(var(--med-color-neutral-15)) !important;
}

.filtro-limpo {
  height: 100%;
  background: hsl(var(--med-color-neutral-15));
  display: none;
  justify-content: center;
}
.filtro-limpo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
.filtro-limpo .med-icon {
  stroke: hsl(var(--med-color-neutral-10));
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.resultados {
  margin: 0 auto;
  padding: 32px 40px 64px;
  width: 100%;
  max-width: 1096px;
}
@media (max-width: 575.98px) {
  .resultados {
    padding: 24px 24px 40px;
  }
}
.resultados__item {
  cursor: pointer;
}
.resultados__item:not(:last-child) {
  margin-bottom: 8px;
}
.resultados__container-text {
  display: flex;
  flex-direction: column;
}
.resultados__informacao {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.resultados__data {
  font-weight: 600 !important;
}
.resultados__cor {
  margin-left: 8px;
  height: 10px;
  width: 10px;
  border-radius: 100px;
}
.resultados__cor--warning {
  background: hsl(var(--med-color-fb-warning));
}
.resultados__cor--attention {
  background: hsl(var(--med-color-fb-attention));
}
.resultados__cor--success {
  background: hsl(var(--med-color-fb-success));
}
.resultados__cor--brand {
  background: hsl(var(--med-color-brand-4));
}
.resultados__text {
  display: -webkit-box !important;
  max-width: inherit;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.historico-footer .med-icon {
  width: 24px;
  height: 24px;
  stroke: hsl(var(--med-color-neutral-10));
}
.historico-footer__item {
  --padding-end: 0;
  --padding-start: 0;
}
.historico-footer__marcador-rotate {
  transform: rotate(90deg);
}

.indice {
  --background: hsl(var(--med-color-neutral-10)) !important;
}
.indice__content {
  margin: 0 auto;
  padding: 32px 40px 64px;
  width: 100%;
  max-width: 1096px;
}
@media (max-width: 575.98px) {
  .indice__content {
    padding: 24px 24px 40px;
  }
}
.indice__heading {
  border-left: 1px dotted hsl(var(--med-color-neutral-1));
}
.indice__heading--subheading {
  margin-left: 21px;
}
.indice__section {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}
.indice__dotted {
  border-top: 1px dotted hsl(var(--med-color-neutral-1));
  width: 15px;
  margin-right: 8px;
}

.marcador {
  position: absolute;
  bottom: 56px;
  right: 24px;
  width: auto;
  padding: 12px;
  background: hsl(var(--med-color-neutral-3));
  display: none;
}
@media (max-width: 575.98px) {
  .marcador {
    right: 10px;
  }
}
.marcador--open {
  display: flex;
}
.marcador__item {
  width: 24px;
  cursor: pointer;
}
.marcador__item:not(:last-child) {
  margin-right: 8px;
}
.marcador__item--warning {
  background: hsl(var(--med-color-fb-warning));
}
.marcador__item--attention {
  background: hsl(var(--med-color-fb-attention));
}
.marcador__item--success {
  background: hsl(var(--med-color-fb-success));
}
.marcador__item--brand {
  background: hsl(var(--med-color-brand-4));
}

.menu-bottom {
  position: fixed;
  bottom: 64px;
  width: 100%;
  display: none;
}
.menu-bottom--open {
  display: block;
}
.menu-bottom--marcadores {
  background: rgba(255, 255, 255, 0.8);
}
.menu-bottom--marcadores .menu-bottom__column {
  display: flex;
}
.menu-bottom--marcadores .menu-bottom__icon-notes {
  display: none;
}
.menu-bottom--marcadores .menu-bottom__icon-fechar {
  display: block;
}
.menu-bottom__row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;
  position: relative;
}
.menu-bottom__icon-fechar {
  display: none;
}
.menu-bottom__column {
  position: absolute;
  right: 0;
  bottom: 56px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 24px 16px 0;
}
.menu-bottom__marcadores {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-bottom__text {
  margin-right: 8px;
  background: hsl(var(--med-color-neutral-2));
  padding: 8px 16px;
  border-radius: 8px;
}

.header-tooltip {
  --z-index: 10 !important;
}
.header-tooltip--off .header-tooltip__nuvem-on {
  display: none;
}
.header-tooltip--off .header-tooltip__nuvem-off {
  display: block;
}
.header-tooltip .med-tooltip__content {
  right: -12px !important;
}
.header-tooltip__nuvem-off {
  display: none;
}

.toolbar-apostila {
  --center-width: 100%;
}
.toolbar-apostila__left {
  display: flex;
  align-items: center;
}
.toolbar-apostila__line {
  margin: 0 8px;
  border-left: 1px solid hsl(var(--med-color-neutral-2));
  height: 40px;
}
.toolbar-apostila__esquerda {
  display: none;
}
.toolbar-apostila__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  margin: 0 auto;
  overflow: hidden;
}
.toolbar-apostila__first {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
  transition: all 0.5s ease-out;
}
.toolbar-apostila__second {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
  transition: all 0.5s ease-out;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.toolbar-apostila__button:not(:last-child) {
  margin-right: 24px;
}
.toolbar-apostila__fake-element {
  display: block;
  height: 24px;
  min-width: 15px;
}
.toolbar-apostila__font-zoom .med-icon {
  stroke: hsl(var(--med-color-neutral-1));
}
.toolbar-apostila--second .toolbar-apostila__first {
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.toolbar-apostila--second .toolbar-apostila__second {
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.toolbar-apostila--second .toolbar-apostila__esquerda {
  display: block;
}
.toolbar-apostila--second .toolbar-apostila__direita {
  display: none;
}
.toolbar-apostila--second .toolbar-apostila__fake-element {
  min-width: 73px;
}

.apostila {
  --background: hsl(var(--med-color-neutral-15)) !important;
  position: relative;
}

.bottom {
  width: 100%;
  background: hsl(var(--med-color-neutral-1));
  z-index: 10;
}
.bottom__range {
  padding: 0 8px 0 8px;
}
.bottom__estimativa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom__text {
  margin-bottom: 8px;
}

@media (min-width: 576px) {
  .user-selector__inputs {
    display: flex;
  }
  .user-selector__student {
    width: 100%;
    flex: 1 50%;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .user-selector__state {
    width: 100%;
    flex: 1 50%;
  }
}
.segment-text__top {
  background: hsl(var(--med-color-brand-1));
  text-align: center;
  padding: 24px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
}
.segment-text__bottom {
  position: fixed;
  bottom: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
}
.segment-text__cores-container {
  display: none;
}
.segment-text__close {
  --background: hsl(var(--med-color-neutral-55)) !important;
  pointer-events: none;
}
.segment-text__duvida {
  display: none;
}
.segment-text--open .segment-text__top {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.segment-text--open .segment-text__bottom {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.segment-text--open .segment-text__close {
  cursor: pointer;
  pointer-events: initial;
}
.segment-text--duvida .segment-text__bottom {
  justify-content: flex-end;
}
.segment-text--duvida .segment-text__close {
  display: none;
}
.segment-text--duvida .segment-text__duvida {
  display: block;
  margin-right: 24px;
}
.segment-text--cores .segment-text__bottom {
  justify-content: flex-end;
}
.segment-text--cores .segment-text__cores-container {
  display: flex;
}
.segment-text--cores .segment-text__close {
  margin-right: 24px;
}

.seletor-marcadores {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.seletor-marcadores__container {
  display: flex;
  width: 24px;
}
.seletor-marcadores__item {
  width: 12px;
  height: 12px;
}
.seletor-marcadores__item--warning {
  background: hsl(var(--med-color-fb-warning));
}
.seletor-marcadores__item--attention {
  background: hsl(var(--med-color-fb-attention));
}
.seletor-marcadores__item--success {
  background: hsl(var(--med-color-fb-success));
}
.seletor-marcadores__item--brand {
  background: hsl(var(--med-color-brand-4));
}

.user-selector {
  position: relative;
}
.user-selector__title {
  --background: hsl(var(--med-color-brand-2)) !important;
  --padding-end: 0;
  --inner-padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}
.user-selector__container-text {
  display: flex;
  margin: 0 auto;
  padding: 16px 0;
}
.user-selector__text {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}
.user-selector__text--underline {
  font-weight: 600 !important;
  text-decoration: underline;
}
.user-selector__button {
  --border-radius: 0;
  --background: hsl(var(--med-color-brand-1));
  height: 100% !important;
  --background-hover: hsl(var(--med-color-brand-1));
}
.user-selector__button-cancel {
  display: none;
}
.user-selector__bottom {
  background: hsl(var(--med-color-brand-1));
  display: none;
  flex-direction: column;
  padding-bottom: 32px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.user-selector__subtitle {
  padding: 16px 0;
  text-align: center;
}
.user-selector__container-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.user-selector__button-teacher {
  color: hsl(var(--med-color-brand-1));
}
.user-selector__button-student {
  margin-left: 16px;
  min-width: 154.5px;
}
.user-selector__inputs {
  padding: 16px;
}
.user-selector__student {
  margin-bottom: 16px;
}
.user-selector__button-bottom {
  width: fit-content;
  margin: 0 auto;
}
.user-selector--open .user-selector__bottom {
  display: flex;
}
.user-selector--open .user-selector__button {
  display: none;
}
.user-selector--open .user-selector__button-cancel {
  display: block;
}

.ranking {
  --background: hsl(var(--med-color-neutral-1)) !important;
}
.ranking__content {
  padding: 32px 40px 64px;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .ranking__content {
    padding: 24px 24px 40px;
  }
}
.ranking__list {
  --ion-item-background: transparent;
}
.ranking__item:not(:last-child) {
  margin-bottom: 8px;
}
.ranking__item--highlight {
  --background: hsl(var(--med-color-brand-2)) !important;
}
.ranking__avatar-label {
  --tp-label-font-size: 24px;
  --tp-label-line-height: 24px;
  --tp-label-font-weight: 600;
}
.ranking__name {
  --tp-label-font-size: 16px;
  --tp-label-line-height: 16px;
}
.ranking__position {
  --tp-label-font-size: 18px;
  --tp-label-line-height: 18px;
  --tp-label-font-weight: 600;
  text-align: end;
}

/*# sourceMappingURL=migracao-temporario.css.map */
