@import "../../../templarios/abstracts";

//////////////////////////////
// med-popover--full
//////////////////////////////

.med-popover--full {
  --ion-backdrop-opacity: 0.8;

  ion-backdrop {
    background: color('neutral', '1');
  }

  .popover-content {
    background: color('neutral', '2') !important;
    border-radius: 16px;
    padding: 24px;
    width: 90%;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
    transform-origin: unset !important;
  }
}

//////////////////////////////
// med-popover--font-zoom
//////////////////////////////

.med-popover--font-zoom {
  --box-shadow:  0 3px 3px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.2);
  --background: #{color('neutral', '2')} !important;
  --width: 224px;
  color: color('neutral', '10');
  transform: translateY(20px);

  .popover-arrow::after {
    left: 1px;
    top: 4px;
    border-radius: 7px;
    width: 18px;
    height: 18px;
  }

  .popover-content {
    padding: 16px;
    border-radius: 8px;
    box-shadow:  0 3px 3px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.2);

    @include breakpoint-up('md') {
      --width: 280px;
    }

    @include breakpoint-up('lg') {
      --width: 400px;
    }
  }
}

@supports (backdrop-filter: blur(0)) {
  .med-popover--font-zoom .popover-content,
  .med-popover--font-zoom .popover-arrow::after {
    --background: #{color('neutral', '2')};
    background: #{color('neutral', '2')} !important;
  }
}

//////////////////////////////
// med-popover--tooltip
//////////////////////////////

.med-popover--tooltip {
  --background: #{color('neutral', '3')};
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.2);
  --width: auto;
  --max-width: 280px;

  .popover-arrow::after {
    left: 6px;
    top: 5px;
    border-radius: 0;
    width: 8px;
    height: 8px;
  }

  .popover-content {
    border-radius: 2px;
  }
}
