.med-time-stamp {
  display: flex;
  align-items: center;
}

.med-time-stamp__icon {
  stroke: hsl(var(--med-color-neutral-10));
  margin-right: 8px;
}

.med-time-stamp__icon-aula {
  stroke: hsl(var(--med-color-aula-4));
}

.med-time-stamp__title {
  margin: 0 8px;
}
