.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 40px 0;
  margin-top: 24px;
  border-top: 1px solid hsl(var(--med-color-neutral-4));
}
