.table {
  width: 100%;
  margin-top: 24px;

  &__head {
    display: block;

    tr {
      padding: 24px 32px;
      border-radius: 8px;
      background: hsl(var(--med-color-neutral-15));
    }
  }

  &__body {
    display: block;
    margin-top: 16px;

    tr {
      height: 112px;
      padding: 24px 32px;
      border-radius: 8px;
      background: hsl(var(--med-color-neutral-2));

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    & > th:first-child,
    & > td:first-child {
      flex: 1 0 auto;
    }

    & > th:not(:first-child),
    & > td:not(:first-child) {
      width: 20%;
      max-width: 140px;
    }

    th,
    td {
      text-align: left;
    }
  }
}
