.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  background: hsl(var(--med-color-brand-1));

  @include breakpoint-down('sm') {
    justify-content: center;
  }

  &__logo {
    path:first-child {
      stroke: hsl(var(--med-color-neutral-10));
    }

    path:not(:first-child) {
      fill: hsl(var(--med-color-neutral-10));
    }

    @include breakpoint-down('sm') {
      margin: 0 auto;
    }
  }

  &__email {
    margin-top: 20px;
  }

  &__infos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @include breakpoint-down('sm') {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    ion-label {
      line-height: 20px;
    }

    ion-label:first-child {
      margin-bottom: 8px;
    }
  }
}
